---
import Nav from "../components/Nav.astro"
import Layout from '../layouts/Layout.astro';
import '../index.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
// Try
---

<html>
  <head>
    <meta charset="UTF-8">
    <title>Diego Lemos</title>
  </head>
  <Layout>
    <Nav />
    <div class="w-full py-10 flex justify-center items-center">
      <section class="w-2/3 h-5/6 flex justify-center items-center">
        <div class="pr-28 mx-10">
          <h1 class="text-gray-50 text-5xl font-bold mb-6">Hi, my name is Diego Lemos Garcia</h1>
          <h3 class="text-gray-50 text-3xl">I'm a Front-end Web Developer from Galicia, Spain</h3>
        </div>
        <img class="ml-8 w-[460px] h-[620px] rounded-3xl shadow-2xl" src="https://www.researchgate.net/profile/Maria-Monreal/publication/315108532/figure/fig1/AS:472492935520261@1489662502634/Figura-2-Avatar-que-aparece-por-defecto-en-Facebook.png" alt="yo">
      </section>
    </div>
  </Layout>
</html>
