---
import Card from '../components/Card.astro';
import Nav from "../components/Nav.astro"
import Layout from '../layouts/Layout.astro';
import '../index.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
  <head>
    <meta charset="UTF-8">
    <title>Lenguajes que conozco</title>
  </head>
  <Layout>
    <Nav />
    <div class="w-full flex justify-center items-center my-16">
          <p class="rounded-3xl px-4 py-2 bg-white font-bold">Lenguajes</p>
    </div>
    <section class="grid grid-cols-4 gap-4 mx-72 h-auto">
      <Card 
        language="JavaScript"
        icon="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Dk_c6Kwi4JaIxYDlvE3NfQ.png"
      />
      <Card 
        language="TypeScript"
        icon="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*JsyV8lXMuTbRVLQ2FPYWAg.png"
      />
      <Card 
        language="React"
        icon="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1024px-React.svg.png"
      />
      <Card 
        language="Next"
        icon="https://devtop.io/wp-content/uploads/2022/11/Next-JS-1024x614.png"
      />
      <Card 
        language="Astro"
        icon="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*nLbfO_PdTSpeCdZQuUr8RQ.png"
      />
      <Card 
        language="Tailwind"
        icon="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVgHWDyjwN9qZsPChFzc5PRfOOOqbfgXqR3w&s"
      />
    </section>
    <div class="w-full flex justify-center items-center my-16">
      <p class="rounded-3xl px-4 py-2 bg-white font-bold">Tecnologias</p>
    </div>
    <section class="grid grid-cols-4 gap-4 mx-72 h-auto">
      <Card 
        language="Git"
        icon="https://victorroblesweb.es/wp-content/uploads/2018/04/git.png"
      />
      <Card 
        language="Docker"
        icon="https://blog.tiraquelibras.com/wp-content/uploads/2020/05/docker-copy-3135ce60d0-512x500.png"
      />
      <Card 
        language="Husky"
        icon="https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/dog-face.png"
      />
      <Card 
        language="Jest"
        icon="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJSJmlNYGBG0wZYVdNpEFAPzVSnGM3LdOIBw&s"
      />
      <Card 
        language="Cypess"
        icon="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrvVqEapXsm3wyIBCj0j6GwUMwEpsUElyGSA&s"
      />
    </section>
  </Layout>
</html>