---
const { language, icon } = Astro.props;
---

<div class="bg-white shadow-lg rounded-lg p-6 max-w-sm w-full mx-8 px-14 flex justify-between">
  <img src={icon} alt={language} class="w-10 h-10"/>
  <h2 class="text-xl font-semibold">{language}</h2>
</div>