<div class="w-full flex justify-center items-center my-10">
    <div class="flex bg-white rounded-3xl w-auto">
        <a href="" class="nav-link">Quien soy</a>
        <a href="" class="nav-link">Conocimientos</a>
        <a href="" class="nav-link">Experiencia</a>
    </div>
</div>
