<div class="sticky top-0 w-full flex justify-between items-center py-10 bg-slate-900">
    <div class="flex bg-slate-950 rounded-3xl ml-40">
        <a href="#" class="nav-link">Diego Lemos</a>
        <a href="#skills" class="nav-link">Technical Skills</a>
        <a href="#projects" class="nav-link">Projects</a>
    </div>
    <div class="flex rounded-3xl w-auto mr-40">
        <a href="https://www.linkedin.com/in/diego-lemos-garcia-9b1933243/"><img class="mx-4" src="../src/assets/linkedin.svg" alt="LinkedIn" width="50"></a>
        <a href="https://github.com/lemosdg"><img src="../src/assets/github.svg" alt="Github" width="50"></a>
    </div>
</div>
